/* start variables */
/* end variables */

/* start globale rolez */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {}

.container {margin-left: auto;margin-right: auto;padding-left: 15px;padding-right: 15px;}
/* small */
@media (min-width:786px){.container {width: 750px;}}
/* midume */
@media (min-width:992px){.container {width: 750px;}}
/* large */
@media (min-width:1200px){.container {width: 750px;}}
/* end globale rolez */

/* start header */
header {padding: 20px;background-color: #0095ffa3;}
header .container {display: flex;justify-content: space-between;align-items: center;}
header .container .logo {color: white;margin: 0;}

header .container ul {display: flex;list-style: none;direction: rtl;margin: 0;}
header .container ul li {padding-left: 20px;border-left: 1px solid black;padding-right: 20px;}
header .container ul li a {color: white;text-decoration: none;font-size: 15px;font-weight: 900;transition: 0.3s;}
header .container ul li a:hover {color: rgb(24, 247, 247)}
/* end header */
/* start home */
.landing {background-image: url(../images/landing.jpeg);background-size: cover;height: calc(100vh - 120px);position: relative;}
.landing::before {content: "";position: absolute;background-color: ;}
.landing .container {}
.landing .container .text {text-align: center;direction: rtl;position: absolute;top: 50%;left: 50%;transform: translate(-50% , -50%);}
.landing .container .text h2 {margin: 0;color:white;font-size: 40px;}
.landing .container .text p {font-size: 22px;text-align: justify;color:white}
.landing .container .text input {transition: 0.3s;background-color:orange;color:white;border: none;width: 140px;height: 35px;border-radius: 10px;text-align: center;align-items: center;font-size: 20px;}
.landing .container .text input:hover {background-color:rgb(24, 247, 247);}
/* end home */
/* start home */
/* end home */